/* ======== RESETEO GLOBAL ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background: #0D4161; /* color de fondo general */
}

/* El contenedor principal ocupa toda la pantalla */
.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
