/* ======== RESETEO GLOBAL ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif; /* fuente más moderna */
  overflow-x: hidden;
  background: #0D4161; /* azul principal */
  color: #fff;
}

/* Contenedor principal */
.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
